{% extends('form/formLayout.twig') %}

{% if (formProgress == 'cdp') %}
    {% set formName = 'Career Development Plan' %}
{% elseif (formProgress == 'my') %}
    {% set formName = 'Mid-Year' %}
{% else %}
    {% set formName = 'Year-End' %}
{% endif %}


{% block title %}{{ formName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ formName }}</h1>

                {{
                    include('form/_form.html.twig', {
                        'buttonLabel': 'Create cycle',
                    })
                }}

            </div>
        </div>
    </div>

{% endblock %}