{% extends('user/formLayout.twig') %}

{% block title %}Edit user{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit user</h1>

                {{
                include('user/_form.html.twig', {
                    'buttonCreateUpdate': 'Update user',
                    'buttonArchive'     : 'Archive user',
                })
                }}

            </div>
        </div>
    </div>

{% endblock %}