{% extends('dashboard/formLayout.twig') %}

{% block title %}My Career{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>My Career</h1>

                {{
                    include('cycle/_form.html.twig', {
                        'buttonLabel': 'Update cycle',
                    })
                }}

            </div>
        </div>
    </div>

{% endblock %}