{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Change password</h1>

                {{ form_start(passwordForm) }}

                    {{ form_row(passwordForm.oldPassword) }}
                    {{ form_row(passwordForm.newPassword) }}

                    <button type="submit" class="btn btn-success"><span class="fa fa-lock"> Change password</span></button>
                &nbsp;
                {{ form_end(passwordForm) }}

            </div>
        </div>
    </div>

{%  endblock %}