{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Reset password?</h1>

                To reset your password, enter your e-mail address and click <span style="font-style: italic"> Reset password</span>.<br>
                You'll receive an e-mail with your new password.
                <p>&nbsp;</p>

                {{ form_start(passwordForm) }}

                    {{ form_row(passwordForm.email, {
                        'label': 'E-mail address'
                    }) }}

                    <button type="submit" class="btn btn-success"><span class="fa fa-lock"> Reset password</span></button>
                    &nbsp;&nbsp;<a href="{{ path('security_login') }}"> Login</a>
                &nbsp;
                {{ form_end(passwordForm) }}

            </div>
        </div>
    </div>

{%  endblock %}